<%= form_for @duel, :html => { :multipart => true } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :number_of_photos_per_contestant %>
    <%= f.text_field :number_of_photos_per_contestant, :disabled => true %>
  </div>

  <div>
    <%= f.label :rules %>
    <%= f.text_area :rules %>
  </div>

  <div>
    <%= f.fields_for :contestant_assignments do |caf| %>
      <h3><%= caf.object.contestant.name %></h3>
      <%= caf.fields_for :photos do |pf| %>
        <%= image_tag(pf.object.image_url) if pf.object.image_url %>
        <%= pf.file_field :image, :accept => 'image/*' %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
