<%= render :partial => 'duels/header' %>

<% @duel.contestant_assignments.each do |ca| %>
  <div>
    <h3><%= ca.contestant.name.upcase %></h3>
    <ol>
      <% ca.photos.each do |photo| %>
        <% if thumb_url = photo.image_url(:thumb) %>
          <li><%= link_to image_tag(thumb_url), duel_contestant_photos_path(@duel, ca.contestant) %></li>
        <% end %>
      <% end %>
    </ol>
  </div>
<% end %>

<p class="footer">
  <span><%= navigate_duels_links %></span> / <%= link_to 'ABOUT', about_path %>
</p>
